doctype html
html(lang="en")
  head
    block title
      title Resonate player prototype
    link(rel="stylesheet",href="css/font-awesome.css")
    link(rel="stylesheet",href="css/bootstrap.min.css")
    link(rel="stylesheet",href="css/style.css")
  body

  -#
    script(type='text/template',id="main")
      include ./_partials/_main.jade

  script(type="text/javascript",src="js/app.js")
  script.
    require('electron-connect').client.create({sendBounds: false})
